@using Sandbox;
@using Sandbox.UI;
@inherits UtilityPage
@namespace Sandbox
@attribute [Icon( "👥" )]
@attribute [Title( "#spawnmenu.utility.users" )]
@attribute [Group( "#spawnmenu.utility.group.world" )]
@attribute [Order( 1 )]

<root class="page" style="flex-direction: column;">

    <div class="section-header">#spawnmenu.utility.ban_list</div>

    @{
        var bans = BanSystem.Current?.GetBannedList();
    }

    @if ( bans is null || bans.Count == 0 )
    {
        <div class="control-row">
            <label class="left" style="opacity: 0.5;">#spawnmenu.utility.no_bans</label>
        </div>
    }
    else
    {
        @foreach ( var (steamId, entry) in bans )
        {
            var sid = steamId;
            var e = entry;
            <div class="ban-entry">
                <img class="avatar" src="avatar:@sid" />
                <div class="ban-info">
                    <label class="ban-name">@e.DisplayName</label>
                    <label class="ban-reason">@e.Reason</label>
                </div>
                @if ( CanManageBans )
                {
                    <div class="ban-options" @onclick=@(() => OpenBanOptions( sid, e ))>
                        <i>more_vert</i>
                    </div>
                }
            </div>
        }
    }

</root>

@code
{
    TimeSince _timeSinceBanListRequest = 999;

    bool CanAccessBanList => Player.FindLocalPlayer()?.HasAdminAccess == true;
    bool CanManageBans => Player.FindLocalPlayer()?.HasSuperAdminAccess == true;

    public override bool IsPageVisible() => CanAccessBanList;

    protected override void OnAfterTreeRender( bool firstTime )
    {
        base.OnAfterTreeRender( firstTime );

        if ( firstTime || _timeSinceBanListRequest > 5.0f )
        {
            _timeSinceBanListRequest = 0;
            BanSystem.RpcRequestBannedList();
        }
    }

    void OpenBanOptions( SteamId steamId, BanSystem.BanEntry entry )
    {
        if ( !CanManageBans )
            return;

        var menu = MenuPanel.Open( this );

        menu.AddOption( "person_add", "#spawnmenu.utility.unban", () =>
        {
            BanSystem.RpcUnban( (long)steamId.Value );
        } );

        menu.AddOption( "content_copy", "#spawnmenu.utility.copy_steam_id", () =>
        {
            Clipboard.SetText( steamId.ToString() );
            Notices.AddNotice( "copy_all", Color.Cyan, Game.Language.GetPhrase( "spawnmenu.utility.copied_steam_id", new() { { "name", entry.DisplayName } } ), 5 );
        } );
    }

    protected override int BuildHash() => HashCode.Combine(
        CanAccessBanList,
        CanManageBans,
        BanSystem.Current?.BanListRevision ?? 0,
        BanSystem.Current?.GetBannedList().Count ?? 0 );
}
