@using Sandbox;
@using Sandbox.UI;
@inherits UtilityPage
@namespace Sandbox
@attribute [Icon( "🔧" )]
@attribute [Title( "#spawnmenu.utility.utilities" )]
@attribute [Group( "#spawnmenu.utility.group.utilities" )]
@attribute [Order( 0 )]

<root class="page" style="flex-direction: column;">
    <div class="control-row" @onclick=@(() => ConsoleSystem.Run( "kill" ))>
        <div class="left"><label>🚿 </label><label>#spawnmenu.utility.kill_me</label></div>
    </div>
</root>
