{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "ragdoll": "Ignore",
    "player": "Unset",
    "effect": "Ignore",
    "bullet": "Unset",
    "bolt": "Collide",
    "projectile": "Collide",
    "sound": "Ignore",
    "noclip": "Ignore",
    "physgun_held": "Collide",
    "constraint": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "ragdoll",
      "r": "Collide"
    },
    {
      "a": "ragdoll",
      "b": "ragdoll",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "effect",
      "r": "Collide"
    },
    {
      "a": "ragdoll",
      "b": "bullet",
      "r": "Collide"
    },
    {
      "a": "water",
      "b": "bullet",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "bullet",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "bullet",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "bolt",
      "r": "Trigger"
    },
    {
      "a": "ragdoll",
      "b": "bolt",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "sound",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "ragdoll",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "effect",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "bullet",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "bolt",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "projectile",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "sound",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "noclip",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "physgun_held",
      "r": "Ignore"
    },
    {
      "a": "constraint",
      "b": "constraint",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "projectile",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "effect",
      "r": "Ignore"
    }
  ],
  "__guid": "c0ed63bc-c23c-4229-b42c-9f58d0edb401",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}
